.dashboard {
  padding-bottom: 22px;
  padding-left: 17px;
  padding-top: 30px;
  padding-right: 20px;

  &__left {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  &__title {
    font-size: 38px;
    font-weight: 500;
    color: #111;
    padding-bottom: 6px;
  }

  &__subtitle {
    font-size: 14px;
    color: #555;
    font-weight: 400;
    margin-top: 2px;
  }

  &__actions {
    display: flex;
    gap: 12px;
  }

  &__btn {
    padding: 14px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 40px;
    height: 50px;
    cursor: pointer;
    transition: all 0.2s ease;

    &--primary {
      background-color: #2473c2; // blue
      color: #fff;
      border: none;
    }

    &--outline {
      background: transparent;
      border: 1px solid #2473c2;
      color: #2473c2;

      &:hover {
        background-color: #eff6ff;
      }
    }
  }

  &__main-row {
    display: flex;
    flex-direction: column;
  }

  &__left {
    min-width: 260px;
  }

  &__cards {
    display: flex;
    gap: 20px;
    padding-top: 20px;
  }

  &__card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    padding: 14.5px;
    min-width: 180px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--primary {
      background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
      color: #fff;
    }
  }

  &__card-header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
  }

  &__card-value {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 17px;
    margin-top: 8px;
  }

  &__card-trend {
    font-size: 0.9rem;
    opacity: 0.8;
  }

  &__metrics-row {
    display: flex;
    gap: 24px;
    margin-top: 32px;
  }

  &__metrics-left {
    width: 49%;
  }

  &__metrics {
    background: #fafbfc;
    border-radius: 16px;
    padding: 24px;
    flex: 2;
    min-width: 0;
  }

  &__metrics-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  &__metrics-cards {
    display: flex;
    gap: 16px;
  }

  &__metrics-card {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 0.3px solid #787878;
  }

  &__metrics-card-title {
    font-size: 16px;
    font-weight: 500;
  }

  &__metrics-card-value {
    font-size: 24px;
    font-weight: 500;
    padding-top: 14px;
    padding-bottom: 8px;
  }

  &__metrics-card-trend {
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
  }

  &__metrics-cardbox {
    background: #ffffff;
    border-radius: 16px;
    padding: 24px;
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &__tickets {
    margin-top: 18px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__ticket-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    font-size: 15px;
  }

  &__ticket-btn {
    background: #2473c2;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    height: 44px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
  }

  &__tickets-viewmore {
    color: #2473c2;
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
    cursor: pointer;
  }

  &__activity {
    background: #fafbfc;
    border-radius: 16px;
    padding: 24px;
    flex: 1;
    max-height: 472px;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }

  &__activity-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    max-height: 318px;
    overflow-y: auto;
    border-top: 1px solid #000000;
  }

  &__activity-row {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 10px 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    gap: 12px;
  }

  &__activity-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__activity-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__activity-name {
    font-weight: 600;
    font-size: 20px;
    height: 30px;
  }

  &__activity-action {
    font-size: 14px;
    height: 21px;
    font-weight: 300;
    color: #555;
  }

  &__activity-time {
    font-size: 13px;
    color: #888;
    min-width: 70px;
    text-align: right;
  }
}
